main {
    width: 80vw;
    margin: auto;
}

.card {
    width: 220px;
    height: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-value-suit {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 28px;
}

.card-value-suit.top {
    border-radius: 5px 5px 0 0;
    background-color:rgb(230, 230, 230);
}

.card-value-suit.bot {
    transform: rotate(180deg);
    border-radius: 5px 5px 0 0;
    background-color:rgb(230, 230, 230);
} 

.card-suit {
    font-size: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 16px 38px;
    gap: 5px;
} 

.card.Spade,
.card.Club {
    color: black;
}

.card.Heart,
.card.Diamond {
    color: red;
}

.hand {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.newCard {
    display:inline-block;
}