.card {
    width: 220px;
    height: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-value-suit {
    display: block;
    padding: 5px;
    font-size: 1.5rem;
}

.card-value-suit.top {
    border-radius: 5px 5px 0 0;
    background-color: rgb(230, 230, 230);
}

.card-value-suit.bot {
    transform: rotate(180deg);
    border-radius: 5px 5px 0 0;
    background-color: rgb(230, 230, 230);
}

.card-suit {
    font-size: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 16px 38px;
    gap: 5px;
}

.card.Spade,
.card.Club {
    color: black;
}

.card.Heart,
.card.Diamond {
    color: red;
}

.hand {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.newCard {
    display: inline-block;
}

.player {
    text-align: center;
    background-color: #ccc;
    margin: 2rem 0;
    padding: 1rem;
}

.out_animation {
    animation: animated-card-out 300ms ease-in 100ms forwards;
}

.in_animation {
    animation: animated-card-in 300ms ease-in 100ms;
}

@keyframes animated-card-out {
    from {
        width: 220px;
        opacity: 1;
    }

    to {
        width: 0px;
        opacity: 0;
    }
}

@keyframes animated-card-in {
    from {
        width: 0px;
        opacity: 0;
    }

    to {
        width: 220px;
        opacity: 1;
    }
}