body {
    text-align: center;
    margin: 0;
}

main {
    margin: auto;
    width: fit-content;
}

.hiddenArea {
    display: none;
}

.gameArea {
    display: grid;
    grid-template-areas:
        "player"
        "dealer";
    gap: 1rem;
    background: rgb(0,182,99);
    background: radial-gradient(circle, rgb(2, 139, 78) 0%, rgba(0,81,44,1) 82%);
    color: rgb(255, 255, 255);
    margin: 1rem 0 0 0;
    padding: 1rem 0 3rem 0;
}

.btn {
    width: 150px;
    padding: 10px 0px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    border: 2px solid rgb(250, 235, 215);
    border-radius: 5px;
    background-color: #333;
    color: rgb(250, 235, 215);
}

.btn:hover {
    border: 2px solid rgb(210, 252, 186);
    box-shadow: 0px 0px 10px 3px rgba(168, 168, 168, 0.25);
    color: #fff;
    background-color: #222;
}

.buttonHolder {
    display: flex;
    justify-content: center;
    gap: 1.75rem;
    margin: 1rem 0 0 0;
    }

.greyOut {
    background-color: rgb(173, 16, 48);
    color: #333;
    cursor: not-allowed;
}

.greyOut:hover {
    background-color: rgb(173, 16, 48);
}

.winButton {
    background-color: rgb(4, 95, 4);
    color: #fff;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.25);
}

.winButton:hover {
    background-color: rgb(122, 172, 47);
    color: #333;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.playerArea {
    grid-area: player;
    margin: 1rem auto 0 auto;
    background-color: rgba(51, 51, 51, .35);
    padding: 1rem;
    border-radius: 5px;
    border: 2px dotted #8d7c1f;
    h3 {
        background-color: rgba(51, 51, 51, .15);
        padding: 0.5rem;
        border-radius: 5px;
    }
    .scoreArea {
        background-color: rgba(51, 51, 51, .15);
        padding: 0.5rem;
        border-radius: 5px;
    }
}

.dealerArea {
    grid-area: dealer;
    margin: 0 auto 1rem auto;
    h3 {
        background-color: rgba(51, 51, 51, .35);
        padding: 0.5rem;
        border-radius: 5px;
    }
}

.playerHand,
.dealerHand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 1rem;
}

.dealerHand .cardHolder:first-child .card:first-child {
    background-color: rgb(51, 51, 51);
    color: rgba(51, 51, 51, 0);
}

.cardHolder {
    margin: 0 5px;
    .card {
        width: 100px;
        height: 200px;
        border-radius: 5px;
        border: 1px solid #333;
        box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.35);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #ececec;
    }
    .card-value-suit {
        display: flex;
        gap: 5px;
        padding: 3px 5px;
        font-size: 1.25rem;
    }
    .card-value-suit.top {
        border-radius: 5px 5px 0 0;
        background-color: rgb(230, 230, 230);
    }
    
    .card-value-suit.bot {
        transform: rotate(180deg);
        border-radius: 5px 5px 0 0;
        background-color: rgb(230, 230, 230);
        display: flex;
        gap: 5px;
        padding: 3px 5px;
    }
    
    .card-value-suit.bot .cardRadios {
        transform: rotate(180deg);
    }
    
    .card-suit {
        font-size: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px 32px;
        gap: 5px 3px;
    }
    
    .card-suit.A {
        position: relative;
        font-size: 5rem;
        padding: 0;
    }
    
    .card-suit.K,
    .card-suit.Q,
    .card-suit.J {
        font-size: 3rem;
    }
    
    .card.S,
    .card.C {
        color: black;
    }
    
    .card.H,
    .card.D {
        color: red;
    }   
}

.hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.out_animation {
    animation: animated-card-out 200ms ease-in 0ms forwards;
}

.in_animation {
    opacity: 0;
    animation: animated-card-in 300ms ease-in 0ms forwards;
}

@keyframes animated-card-out {
    0% {
        width: 150px;
        opacity: 1;
        margin: 0;

    }

    100% {
        width: 0px;
        margin: -2rem 0 0 0;
        opacity: 0;
    }
}

@keyframes animated-card-in {
    0% {
        overflow: hidden;
        white-space: nowrap;
        width: 0px;
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        overflow: visible;
        white-space: normal;
        width: 150px;
        opacity: 1;
    }
}