:root {
    font-size: 16px;
}

body {
    text-align: center;
    margin: 0;
    background-color: rgb(2, 20, 12);
    color: rgb(250, 235, 215);
}

main {
    margin: auto;
    width: fit-content;
}

.headArea {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .deal {
        margin: 1rem 0;
        animation: 2s ease-in infinite animated-glow-border;
        box-shadow: 0px 0px 10px 3px rgba(168, 168, 168, 0.25);
        width: calc(9rem - 10px);
        padding: 0.3125rem 0;
        cursor: pointer;
        border: 2px solid rgb(250, 235, 215);
        border-radius: 5px;
        background-color: #333;
        color: rgb(250, 235, 215);

        &:hover {
            border: 2px solid rgb(210, 252, 186);
            box-shadow: 0px 0px 10px 3px rgba(168, 168, 168, 0.25);
            color: #fff;
            background-color: #222;
        }
    }
}

.hiddenArea {
    display: none;
}

.gameArea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0;
    background: radial-gradient(circle, rgb(2, 139, 78) 0%, rgba(0, 81, 44, 1) 82%);
    color: rgb(255, 255, 255);
    padding: 0;
    min-height: 100vh;

    .centerArea {
        display: grid;

        .reDeal {
            position: relative;
            animation: 2s ease-in 0ms infinite animated-glow-border;
            height: fit-content;
            grid-area: 1/1;
            top: -4rem;
            margin: auto;
            padding: 0.5rem 2rem;
            width: fit-content;
        }

        .scoreArea {
            background-color: rgba(51, 51, 51, .25);
            padding: 0.5rem;
            margin: 1rem 0 0 0;
            grid-area: 1/1;
        }
    }

    .playerArea,
    .dealerArea {
        margin: 1rem auto 0 auto;
        background-color: rgba(51, 51, 51, .25);
        padding: 1rem 0;
        border-radius: 5px;
        border: 2px solid #8d7c1f;
        width: 70%;
        box-sizing: border-box;

        h3 {
            background-color: rgba(51, 51, 51, .25);
            padding: 0.5rem;
        }

        .playerHand,
        .dealerHand {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0 1vw;

            .cardHolder {
                margin: 0;

                .card {
                    margin: 0.625rem -0.9375rem;
                    width: 9rem;
                    height: 12rem;
                    border-radius: 5px;
                    border: 1px solid #333;
                    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.35);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #ececec;
                }

                //dealers first card before flip
                .flipCard {
                    width: 9rem;
                    height: 12rem;
                    border-radius: 5px;
                    border: 1px solid #333;
                    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.35);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background: radial-gradient(circle, rgb(20, 71, 167) 5%, rgb(6, 44, 100) 90%);

                    .card-value-suit,
                    .card-value-suit.bot,
                    .card-suit {
                        display: none;
                    }
                }

                .card-value-suit {
                    display: flex;
                    gap: 0.3125rem;
                    font-size: 1.25rem;
                    background-color: rgb(230, 230, 230);
                    border-bottom: 1px dotted rgba(51, 51, 51, .5);
                    border-radius: 5px 5px 0 0;
                    padding: 0.15rem 0 0 0.35rem;

                    span {
                        padding: 0.2rem 0rem 0.2rem 0.35rem;
                    }

                }

                .card-value-suit.bot {
                    transform: rotate(180deg);
                }

                .card-suit {
                    font-size: 1.5rem;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    padding: 0.625rem 2rem;
                    gap: 0.3rem 0.15rem;
                }

                .card-suit.A {
                    position: relative;
                    font-size: 5rem;
                    padding: 0;
                }

                .card-suit.K,
                .card-suit.Q,
                .card-suit.J {
                    font-size: 3rem;
                }

                .card.S,
                .card.C {
                    color: black;
                }

                .card.H,
                .card.D {
                    color: red;
                }
            }

            .buttonHolder {
                display: flex;
                justify-content: center;
                gap: calc(1vw + 0.625rem);
                margin: 1rem 0 0 0;
            }
        }
    }

    .winsArea {
        position: relative;
        padding: 0.625rem 0 0 0;

        fieldset {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: calc(1vw + 0.3125rem);
            border: none;

            #resetScoreButton {
                width: 9rem;
                padding: 0.625rem 0.3125rem;
            }

            div {
                background-color: rgba(0, 0, 0, 0.55);
                padding: 0.625rem 0.5rem;
                border-radius: 0.3125rem;
                width: 4.5rem;
                height: fit-content;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .btn {
        width: calc(9rem - 10px);
        padding: 0.3125rem 0;
        cursor: pointer;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
        border: 2px solid rgb(250, 235, 215);
        border-radius: 5px;
        background-color: #333;
        color: rgb(250, 235, 215);

        &:hover {
            border: 2px solid rgb(210, 252, 186);
            box-shadow: 0px 0px 10px 3px rgba(168, 168, 168, 0.25);
            color: #fff;
            background-color: #222;
        }
    }

    .greyOut {
        background-color: rgb(173, 16, 48);
        color: #333;
        cursor: not-allowed;

        &:hover {
            background-color: rgb(173, 16, 48);
        }
    }

    .winButton {
        background-color: rgb(4, 95, 4);
        color: #fff;
        box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.25);

        &:hover {
            background-color: rgb(122, 172, 47);
            color: #333;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
        }
    }
}

.out_animation {
    animation: animated-card-out 200ms ease-in 0ms forwards;
}

.in_animation {
    opacity: 0;
    animation: animated-card-in 300ms ease-in 0ms forwards;
}

@keyframes animated-card-out {
    0% {
        width: 9rem;
        opacity: 1;
        margin: 0;
    }

    100% {
        width: 0px;
        margin: -2rem 0 0 0;
        opacity: 0;
    }
}

@keyframes animated-card-in {
    0% {
        overflow: hidden;
        white-space: nowrap;
        width: 0px;
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        overflow: visible;
        white-space: normal;
        width: 9rem;
        opacity: 1;
    }
}

@keyframes animated-glow-border {
    0% {
        border: 2px solid rgb(167, 252, 119);
        box-shadow: 0px 0px 3px 1px rgba(168, 168, 168, 0.25);
    }

    50% {
        border: 2px solid rgb(210, 252, 186);
        box-shadow: 0px 0px 10px 5px rgba(168, 168, 168, 0.25);
    }

    100% {
        border: 2px solid rgb(167, 252, 119);
        box-shadow: 0px 0px 3px 1px rgba(168, 168, 168, 0.25);
    }
}

@media screen and (max-width: 800px) {
    :root {
        font-size: 12px;
    }

    .headArea {
        padding: 1rem;

        .deal {
            margin: 2rem 0;
            width: calc(9rem - 5px);
            padding: 0.3125rem;
        }
    }

    .gameArea {
        .centerArea {
            .reDeal {
                top: -5.15rem;
                padding: 0.25rem 1rem;
            }
        }

        .playerArea,
        .dealerArea {
            width: 90%;

            h3 {
                padding: 0.25rem;
            }

            .playerHand,
            .dealerHand {

                .cardHolder {

                    .card-value-suit {
                        font-size: 1rem;

                        span {
                            padding: 0.15rem 0rem 0.15rem 0.3rem;
                        }
                    }

                    .card-suit {
                        font-size: 1rem;
                        padding: 0.5rem 2rem;
                        gap: 0.5rem 0.15rem;
                    }

                    .card-suit.A {
                        font-size: 4rem;
                    }

                    .card-suit.K,
                    .card-suit.Q,
                    .card-suit.J {
                        font-size: 3rem;
                    }
                }
            }
        }

        .winsArea {
            padding: 0.5rem 0 0 0;

            fieldset {
                gap: calc(1vw + 0.25rem);

                #resetScoreButton {
                    padding: 0.3125rem;
                }

                div {
                    padding: 0.5rem;
                }
            }
        }

        .btn {
            width: calc(9rem - 5px);
        }

    }
}